* {
    box-sizing: border-box;
}

body {
    height: 80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 8vmin);
    grid-template-rows: repeat(3, 8vmin);
    gap: 1vmin;
}

#board > div {
    border: .04vmin solid gray;
    border-radius: 10%;
}

button {
    margin-top: 3vmin;
}